body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    

    .admonition.admonition-plugin {
        padding: 10px;

    }

    div.callout-important .admonition-title::before {
      content: "👀";
    }
    
    img {
        border-radius: 4px;
    }
    
    
    /***
      CUSTOM STYLING ENDS HERE
   ***/
    
}
